/app/Nova
/node_modules
/nova
/public/hot
/public/storage
/public/vendor/nova
/resources/views/vendor/nova
/resources/lang/vendor/nova
/storage/*.key
/todo
/vendor
/vnotes
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
NovaServiceProvider.php
nova.php
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache